
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <html>
        <body style="border:1px solid silver; border-radius: 5px; padding:15px;">
            <h1 style="text-align:center; font-size:19px; margin-bottom:30px; color:red; border:1px dashed purple; padding:10px;">Welcome to your monthly horoscope!</h1>
            <p style="font-size: 14; color: green; line-spacing: 5px;">{{res}}</p>
        </body>
    </html>
</body>
</html>